*{
    border:0px; 
    margin:0px; 
    padding: 0px;
    background-color:#009ddd;
}

.imagem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#img{
    width: 450px;
}

.texto{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.caixaprincipal{
    background-color: rgb(209, 209, 209, 0.7);
    width: 330px;
    height: 350px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    width: 240px;
    height: 45px;
    border-radius: 15px;
    background-color: #ffa506;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16px;
    text-align: center;
    color:white;
    margin: 25px;
}

button:hover{
    background-color: #48586f;
}

a{
    text-decoration: none; 
    background-color: rgb(209, 209, 209, 0);
    color:white;
}
a:link{
    text-decoration: none;
    background-color: rgb(209, 209, 209, 0);
    color:white;
}   
a:visited{
    text-decoration: none;
    background-color: rgb(209, 209, 209, 0);
    color:white;
}
a:active{
    text-decoration: none;
    background-color: rgb(209, 209, 209, 0);
    color:white;
}

@media screen and (max-width: 750px){
    #img{
        width: 350px;
    }
}
@media screen and (max-width: 550px){

    .imagem{
        margin-top: 40px;
    }

    #img{
        width: 300px;
    }

    .caixaprincipal{
        width: 290px;
        height: 310px;
    }

    button{
        width: 210px;
        height: 45px;
        font-size: 15px;
    }
    

}

@media screen and (max-width: 350px){

    .imagem{
        margin-top: 40px;
    }

    #img{
        width: 280px;
    }

    .caixaprincipal{
        width: 260px;
        height: 310px;
    }

    button{
        width: 210px;
        height: 42px;
        font-size: 14px;
    }
    

}

@media screen and (max-width: 300px){

    .imagem{
        margin-top: 35px;
    }

    #img{
        width: 250px;
    }

    .caixaprincipal{
        width: 240px;
        height: 310px;
    }

    button{
        width: 210px;
        height: 42px;
        font-size: 14px;
    }
    

}